/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding-bottom: 60px; /* To prevent bottom icons overlapping content */
    border: 2px solid black; /* Page border */
    height: auto;
    min-height: 100vh;
    overflow-y: auto;
}

/* Header */
.header {
    text-align: center;
    background-color: #4CAF50;
    padding: 20px;
    color: white;
     border: 2px solid black; /* Page border */
     height: 179px;
}

.logo-input {
    margin-top: 10px;
}

.content-section {
    padding: 20px;
}

.campaign-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.campaign-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

.campaign-card:hover {
    transform: scale(1.02);
}

.campaign-image {
    width: 100%;
    height: auto;
}

.campaign-details {
    padding: 15px;
}

.campaign-details h3 {
    margin: 0 0 10px;
    font-size: 20px;
}

.campaign-details p {
    margin: 5px 0;
}

.donation-options, .contact-organizer {
    margin-top: 10px;
}

.donation-link, .contact-link {
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #4CAF50;
    text-decoration: none;
    border-radius: 5px;
}

.donation-link:hover, .contact-link:hover {
    background-color: #45a049;
}

/* Progress Bar Styles */
.progress-container {
    margin-top: 20px;
}

.progress-label {
    font-size: 16px;
    margin-bottom: 5px;
}

.progress-bar {
    background-color: #f1f1f1;
    border-radius: 5px;
    height: 20px;
    margin-top: 5px;
    width: 100%;
}

.progress {
    background-color: #4CAF50;
    height: 100%;
    width: 0; /* Default width, should be adjusted dynamically */
    transition: width 0.3s;
}

.progress-text {
    margin-top: 5px;
    font-size: 14px;
}
